<head>

	
</head>
<body>
    <div class="jugadores">
        <h1>Nombre de jugadores</h1>
        <form method="post" action="/ExamFinal/Ejecucion">
            <input type="text" name="Nombre1" placeholder="jugador 1" required="required" />
            <input type="text" name="Nombre2" placeholder="jugador 2" required="required" />
            <input type="text" name="Nombre3" placeholder="jugador 3" required="required" />
            <input type="text" name="Nombre4" placeholder="jugador 4" required="required" />
            <input type="text" name="Nombre5" placeholder="jugador 5" required="required" />

            <button type="submit" class="btn btn-secondary btn-block btn-lg">Click para empezar a jugar</button>
        </form>

    </div>
  
</body>